/*
Colors used:
Primary Color (Blue): #05676e;
Secondary Color (Green): #489c79;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Trirong', serif;
*/
[hidden] {
  display: none;
}

a {
  background-color: inherit;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  /* No underlining */
}

a:visited {
  /* visited link */
  background-color: inherit;
  color: #ffffff;
}

a:hover,
a:focus {
  background-color: inherit;
  color: #cc6540;
  text-decoration: underline;
}

a:active {
  /* selected link */
  background-color: inherit;
  color: #ffffff;
}

body {
  background-color: #1d394a;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #ffffff;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.74em;
  font-weight: 700;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-family: 'Trirong', sans-serif;
  font-style: italic;
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.35em;
  font-weight: 400;
}

h5 {
  font-family: 'Trirong', sans-serif;
  font-style: italic;
  font-size: 1em;
  font-weight: 300;
}

img {
  width: 100%;
  padding: 10px 0;
}

.button {
  background-color: #f6b563;
  border: none;
  color: #4F4F4F;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

/*
This is the starting grid for each video with thumbnails 4 across for the largest screen size.
It's important to use percentages or there may be gaps on the right side of the page.
*/
/* Create four equal columns that sits next to each other */
.video {
  background-color: inherit;
  color: #000000;
  padding-bottom: 150px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  width: 33%;
  height: auto;
  margin: 1%;
  float: left;
}

/*
These styles keep the height of each video thumbnail consistent between YouTube and Vimeo.
Each can have thumbnail sizes that vary by 1px and are likely break your layout.
*/
.video figure {
  height: 0;
  padding-bottom: 150px;
  overflow: hidden;
}

.video figure a {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 0;
}

header {
  padding: 10px 0 4px;
  margin: 10px;
  border-bottom: 3px;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  position: relative;
}

footer {
  display: block;
}

/*Layout styling */
.container {
  padding: 0 15px;
}

.container.center {
  padding-top: 25px;
  padding-bottom: 25px;
}

.row {
  margin: 25px 0;
  /*25px top and bottom, 0 left and right*/
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 5px;
}

#about .row {
  padding-bottom: 25px;
  border-bottom: 5px;
}

#about .row2 {
  padding-bottom: 5px;
  border-bottom: 5px;
}

#hero h1 {
  text-align: center;
}
#hero h3 {
  text-align: center;
}
#work h2 {
  text-align: center;
}

#about h2 {
  text-align: center;
  margin-top: 0;
}

.container.center p {
  padding-bottom: 10px;
}

#logo {
  max-width: 150px;
}

nav>ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: inherit;
  color: #ffffff;
}

nav>ul>li>a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: inherit;
  color: #ffffff;
}

nav>ul>li>a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: inherit;
  color: #e8e16f;
}

nav>ul>li>a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: inherit;
  color: #f6b563;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

main {
  padding-top: 56px;
}

.center {
  text-align: center;
}

#hero {
  background-color: #3fbbb0;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#contact {
  text-align: center;
  background-color: #3FBBB0;
  margin: 20px 0;
  display: inline-block;
  width: 100%;
}

#work {
  background-color: #1d394a;
}

#about {
  background-color: #1d394a;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 10px;
  padding-bottom: 150px;
}

#gallery picture {
  width: auto;
  height: auto;
  object-fit: scale-down;
}

#gallery .img1 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

#gallery .img2 {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
}

#gallery .img3 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 7;
}

#gallery .img4 {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 7;
}

svg {
  max-width: 32px;
  display: inline-flex;
  align-self: center;
  height: 1em;
  width: 1em;
  position: relative;
}

* {
  box-sizing: border-box;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  #logo {
    width: auto;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul>li {
    display: inline-block;
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 133px;
  }

  body {
    font-size: 18px;
  }

  #hero {
    text-align: center;
  }
  #hero h1 {
    text-align: center;
  }
  #hero h3 {
    text-align: center;
  }
  #hero p {
    text-align: center;
  }
  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about h3 {
    margin-top: 0;
  }

  .video {
    width: 48%;
    /* Thumbnails 2 across */
  }
}

/*==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-5 {
    width: 41.66%
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .video {
    width: 31.333%;
    /* Thumbnails 3 across */
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
