/*
Colors used:
Primary Color (Blue): #05676e;
Secondary Color (Green): #489c79;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Trirong', serif;
*/

[hidden] {
  display: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400; /* No underlining */
}
a:visited { /* visited link */
  color: #e67300;
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}
a:active { /* selected link */
  color: #1d394a;
}

body{
  background-color:#1d394a;
  font-family: 'Merriweather Sans', sans-serif;
  font-size:16px;
  font-weight:300;
  line-height:1.6;
  color:#ffffff;
}

h1, h2, h3, h4{
  line-height:1.4;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.74em;
  font-weight: 700;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-family: 'Trirong', sans-serif;
  font-style: italic;
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.35em;
  font-weight: 400;
}
h5 {
  font-family: 'Trirong', sans-serif;
  font-style: italic;
  font-size: 1em;
  font-weight: 300;
}

img {
  width: 100%;
  padding: 10px 0;
}
.button {
  background-color: #f6b563;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
/*
This is the starting grid for each video with thumbnails 4 across for the largest screen size.
It's important to use percentages or there may be gaps on the right side of the page.
*/
#gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#gallery .row { padding-bottom: 25px; border-bottom: 5px so lid #4a4a4a;}
#gallery h3 {
  text-align: center;
}
.video {
  background: #ffffff;
  padding-bottom: 150px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  width: 33%;
  height: auto;
  margin: 1%;
  float: left;
}

/*
These styles keep the height of each video thumbnail consistent between YouTube and Vimeo.
Each can have thumbnail sizes that vary by 1px and are likely break your layout.
*/

.video figure {
  height: 0;
  padding-bottom: 150px;
  overflow: hidden;
}

.video figure a {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 0;
}

header {
  background-color: #ffffff;
  padding: 10px 0 4px;
  margin: 10px;
  border-bottom: 3px solid #ffffff;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  position: relative;
}
footer {
  display: block;
}
/*Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /*25px top and bottom, 0 left and right*/
}
}
#work .row { padding-bottom: 25px; border-bottom: 5px so lid #4a4a4a;}
#about .row { padding-bottom: 25px; border-bottom: 5px so lid #4a4a4a;}
#about .row2 { padding-bottom: 5px; border-bottom: 5px so lid #4a4a4a;}
#hero h1 {
  text-align: center;
}
#work h2 {
  text-align: center;
}
#about h2 {
  text-align: center;
  margin-top: 0;
}
#logo {
  max-width: 150px;
}
nav > ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #3fbbb0;
}
nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1d394a
}
nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #e8e16f
}
nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f6b563
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
main {
  padding-top: 56px;
}
.center {
  text-align: center;
}
#hero {
  background-color: #3fbbb0;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#contact {
  text-align: center;
  background-color: #85c58b;
  margin: 20px 0;
  display: inline-block;
  width:100%;
}
#work {
  background-color: #1d394a;
}
#about {
  background-color: #1d394a;
}
svg {
  max-width: 32px;
  display: inline-flex;
  align-self: center;
  height: 1em;
  width: 1em;
  position: relative;
}
.svganimation {
  width: 100%;
  max-width: 100%;
  height: auto;
}
@keyframes color-change {
  0% {fill: rgb(95.701599%,82.421875%,25.87738%)}
  100% {fill: rgb(252, 240, 3);}
}
  .bulb-light {
  animation-duration: 1s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes streakmid-move {
  from {transform: translate(0, 0);}
  to {transform: translate(0,-20px);}
}
@keyframes streakright-move {
  from {transform: translate(0, 0);}
  to {transform: translate(10px,-10px);}
}
@keyframes streakleft-move {
  from {transform: translate(0, 0);}
  to {transform: translate(-10px,-10px);}
}
.bulb-light.streakmid {
  animation-duration: 1s;
  animation-name: streakmid-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.bulb-light.streakright1 {
  animation-duration: 1s;
  animation-name: streakright-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.bulb-light.streakrightmost {
  animation-duration: 1s;
  animation-name: streakright-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.bulb-light.streakleft1 {
  animation-duration: 1s;
  animation-name: streakleft-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.bulb-light.streakleftmost {
  animation-duration: 1s;
  animation-name: streakleft-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
*{
  box-sizing: border-box;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  #logo{
    width: auto;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  nav > ul > li {
    display: inline-block;
    margin: 1em 0;
  }
  .navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
  main{
    padding-top: 133px;
  }
  body {
    font-size: 18px;
  }
  #hero {
    text-align: center;
  }
  #hero span {
    display: block;
  }
  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  .row: ::after {
    content: "";
    clear: both;
    display: table;
  }
  #about h3 {
    margin-top: 0;
  }
  .video {
    width: 48%; /* Thumbnails 2 across */
  }
}
/*==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
.col-lg-5 {
  width:41.66%
}
.col-lg-6 {
  width: 50%;
}
.col-lg-7 {
    width: 58.33%;
}
.col-lg-12 {
    width: 100%;
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.video {
    width: 31.333%; /* Thumbnails 3 across */
  }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
